<fuse-progress-bar></fuse-progress-bar>
<div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Les Version</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
    

        </mat-toolbar>
    
        <div mat-dialog-content class="p-24 m-0" style="overflow-x: hidden;">
<!--     
    
            
      <div class="content-container" fxLayout="column" fxLayoutAlign="center center" >
            <swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)" >
              <div *ngFor="let bloc of blocs" class="swiper-slide" style="min-width:706px">
                <div fxLayout="column" fxLayoutAlign="center center" class="content" >
                   <!-- PREVIEW 
          <div class="card-preview" >
---------------------------------------------------------------
                <div class="fuse-card" style="min-width: 700px;"  >
  
                    <div class="p-16">
                        <div class="h1">Bloc Reglementaire</div>
                        <div class="h4 secondary-text">{{bloc.thematique.nom}}</div>
                    </div>
  
                    <div class="p-16 pt-0 line-height-1.75">
                        {{bloc.description}}
                    </div>
                   
                    <div class="px-16 py-4" fxLayout="row" fxLayoutAlign="end center">

                 
                    </div>
  
                </div>
  
            </div>
            <!-- / PREVIEW 
                </div>
              </div>
            </swiper>
            </div> -->
    
                



<div *carousel="let bloc from blocs; let ctrl = controller" >

          <div class="card-preview" style="min-width: 300px !important;    height: 300px;margin: auto;" >

                <div class="fuse-card"  style="  height: 300px;   max-width: 100%; 
                 min-width: auto; 
                 " >
  
                    <div class="p-16">
                        <div class="h1">Bloc Reglementaire</div>
                        <div class="h4 secondary-text">{{bloc.thematique.nom}}</div>
                    </div>
  
                    <div class="p-16 pt-0 line-height-1.75">
                        {{bloc.description}}
                    </div>
                   
                    <div class="px-16 py-4" fxLayout="row" fxLayoutAlign="end center">

                 
                    </div>
  
                </div>
  
            </div>
            <button mat-icon-button (click)="ctrl.prev()">
                    <mat-icon aria-label="Example icon-button with a heart icon">arrow_back_ios</mat-icon>
                  </button>
                  <button mat-icon-button (click)="ctrl.next()">
                        <mat-icon aria-label="Example icon-button with a heart icon">arrow_forward_ios</mat-icon>
                      </button>
 
</div>
 
        </div>
    
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #039BE5">
    
            <!-- <button *ngIf="action !=='edit'"
                    mat-raised-button
                    (click)="_matDialogRef.close(contactForm)"
                    class="save-button mat-accent"
                    [disabled]="contactForm.invalid"
                    aria-label="SAVE">
                SAVE
            </button> -->
    
            <button  style="    color: #039be5;
            margin-left: auto;
    margin-right: auto;
    background-color: white"
                    mat-raised-button
                    (click)="save()"
                    class="save-button mat-accent"
 
                    aria-label="SAVE">
                Ajouter
            </button>

    
        </div>
    </div>
    