@import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 700px;
    }

    .mat-dialog-container {
        padding: 0;
        
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(243, 243, 243, 0.82);
    }
    
    


// }
// .content{
//     padding-left: 40px;
//     padding-right: 40px;
//     width:500px !important;
//     min-width:auto !important;
//     margin-top: 25px !important;
//     margin-left: auto !important;
//     margin-right: auto !important;
// }
// .fuse-card{
  
// }
// .swiper-button-next{
//     position: fixed !important;
//     left:85% !important;
// }
// .swiper-button-prev{
//     position: fixed !important;
//     left:13% !important;
// }
// .swiper-button-next, .swiper-button-prev {
//     position: fixed !important;
//     top: 57% !important;
// }
.banner-container {
    position:relative;
    height:500px;
    overflow:hidden;
  } 
 .banner-container > .banner {
    position:absolute;
    height: 1000px;
    width: 1000px;
    background-color: pink;
  }
  button.active{
    background-color: pink;
  }
}