@import "src/@fuse/scss/fuse";
.main {
    position: relative;
    /* border: 2px solid #5F8FA4; */
    height: 51px;
    background: #fff;
    width: 84%;
    border-radius: 50px;
    /* padding-left: 31px; */
    /* padding-right: 11px; */
    /* padding-top: 4px; */
    padding-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: #555;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  .main:focus {
    outline: none;
  }
  .search-div{
    background-color: white;
    width: 46%;
    height: 41%;
    /* border-radius: 31%; */
    border-radius: 26px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
   
  }
  .search-input{
    margin-left: 4%
  }
  .search-icon{
    color: #757575;
    // top: 28%;
    left: 5%;
    position: relative;
    font-size: 200%;
    align-self: center;
    
  } 
  .searchicon {
    position: absolute;
    height: 12px;
    width: 12px;
    background: transparent;
    border: 3px solid #5F8FA4;
    left: 10px;
    top: 8px;
    border-radius: 100%;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
:host {

    #products {

        .top-bg {
            @include media-breakpoint-down(xs) {
                height: 240px;
            }
            
        }

        > .center {

            > .header {

                .search-input-wrapper {
                    max-width: 480px;
                }
                margin-top: 4%;
                @include media-breakpoint-down(xs) {
                    margin: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

}
.complete {
::ng-deep .mat-progress-bar-fill::after {
    background-color: #27ae60;
}
}
.precomplete {
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: #e67e22;
    }
    }
    .empty {
        ::ng-deep .mat-progress-bar-fill::after {
            background-color: #e74c3c;
        }
        }
.half{
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: #f1c40f;
    }
    }
    .lds-table {

        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-column-Nref{
            flex: 0 1 5%px;
        }
        .mat-column-ID {
            flex: 0 1 50px;
        }

        .mat-column-Image {
            flex: 0 1 10%;
           
              
            
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }
        .mat-column-Progress{
            flex: 0 1 20%;
        }
        .mat-column-Etat{
            flex: 0 1 20%;
            padding-left: 2%
            
        }
        .mat-column-Action{
            flex: 0 1 8%;
           
        }
        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }

img{
    width: 50px;
    height: auto;
    padding: 5px;
    background-color: #e2e2e2;
}
span.success{
    color: #FFF;
	background: #27AE60;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}
span.transmit{
    color: #FFF;
	background: #E67E22;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}
span.reject{
    color: #FFF;
	background:  #e74c3c;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}
span.rect{
    color: #FFF;
	background: #8e44ad;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}
span.creation{
    color: #FFF;
	background: #F1C40F;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}