
<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo" style="width: 263px">
                <img src="assets/images/logos/logo.png" >
            </div>

            <div class="title">Oublier votre Mot de passe</div>

            <form name="ForgetPasswordForm" [formGroup]="ForgetPasswordForm" fxLayout="column" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" fxFlex="45">
                            <mat-label>Email</mat-label>  
                          <input matInput placeholder="Email" formControlName="email" required>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="ForgetPasswordForm.get('email').hasError('required')">
                                Email est requis
                            </mat-error>
                            <mat-error
                            *ngIf="!ForgetPasswordForm.get('email').hasError('required') &&
                            ForgetPasswordForm.get('email').hasError('email')">
                            S'il vous plaît entrer une adresse e-mail valide
                        </mat-error>
                        </mat-form-field>

             

                

              
                <alert></alert>
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="ForgetPasswordForm.invalid || loading">
                    Envoyer
                </button>
               
            </form>
            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Retourner à la page Login</a>
            </div>

            

        </div>

    </div>

</div>