<div #toolbar class="toolbar" style="position: fixed;
float: right;
top: 30%;
right: 4%;
border: 2px solid #03A9F4;
box-shadow: 4px 3px 4px 3px #888888;"  (mousedown)="$event.preventDefault()" [ngStyle]="toolbarStyle">
    <div>
      <mat-button-toggle-group multiple [vertical]="true">
        <!-- <mat-button-toggle (click)="execCommand('insertimage', null, $event)">
          <mat-icon>insert_photo</mat-icon>
        </mat-button-toggle> -->
        <mat-button-toggle matTooltip="Annuler" matTooltipPosition="left" (click)="execCommand('undo', null, $event)" [checked]="false">
          <mat-icon>undo</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="refaire" matTooltipPosition="left" (click)="execCommand('redo', null, $event)" [checked]="false">
          <mat-icon>redo</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Format claire" matTooltipPosition="left" (click)="execCommand('removeFormat', null, $event)" [checked]="false">
          <mat-icon>format_clear</mat-icon>
        </mat-button-toggle>
          <mat-button-toggle matTooltip="Bold" matTooltipPosition="left" (click)="execCommand('bold', null, $event)" [checked]="map['bold']">
            <mat-icon>format_bold</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle matTooltip="Souligner" matTooltipPosition="left" (click)="execCommand('underline', null, $event)" [checked]="map['underline']">
            <mat-icon>format_underlined</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="execCommand('justifyLeft', null, $event)" [checked]="map['justifyleft']">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="execCommand('justifyCenter', null, $event)" [checked]="map['justifycenter']">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="execCommand('justifyRight', null, $event)" [checked]="map['justifyright']">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="execCommand('justifyFull', null, $event)" [checked]="map['justifyfull']">
            <mat-icon>format_align_justify</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="execCommand('insertUnorderedList', null, $event)" [checked]="map['insertUnorderedList']">
            <mat-icon>list</mat-icon>
          </mat-button-toggle>
          
          <button style="cursor: pointer;" (click)="buttonClick.emit($event)">
            <mat-icon>insert_drive_file</mat-icon>
          </button>
          <button style="cursor: pointer;" matTooltip="recadrer" matTooltipPosition="left" (click)="truncateButton.emit($event)">
              <mat-icon>crop</mat-icon>
          </button>
          <button style="cursor: pointer;" matTooltip="sauvgarder" matTooltipPosition="left" (click)="saveButton.emit($event)">
            <mat-icon>save</mat-icon>
        </button>
        <button style="cursor: pointer;" matTooltip="transmit" matTooltipPosition="left" (click)="transmitButton.emit($event)">
            <mat-icon svgIcon="transmit"></mat-icon>
        </button>
        <!-- <mat-button-toggle (click)="execCommand('removeFormat', null, $event)" [checked]="false">
          <mat-icon>format_clear</mat-icon>
        </mat-button-toggle> -->
      </mat-button-toggle-group>
      <!-- <mat-button-toggle-group >
        
        <mat-button-toggle (click)="execCommand('formatBlock', '<h1>', $event)" [checked]="map['h1']">
          H1
        </mat-button-toggle>
        <mat-button-toggle (click)="execCommand('formatBlock', '<h2>', $event)" [checked]="map['h2']">
          H2
        </mat-button-toggle>
        <mat-button-toggle (click)="execCommand('formatBlock', '<h3>', $event)" [checked]="map['h3']">
          H3
        </mat-button-toggle>
      </mat-button-toggle-group> -->
      <mat-button-toggle-group multiple>
        
        <!-- <mat-button-toggle (click)="execCommand('italic', null, $event)" [checked]="map['italic']">
          <mat-icon>format_italic</mat-icon>
        </mat-button-toggle> -->
        <!-- <mat-button-toggle (click)="execCommand('underline', null, $event)" [checked]="map['underline']">
          <mat-icon>format_underlined</mat-icon>
        </mat-button-toggle> -->
        <!-- <mat-button-toggle (click)="execCommand('strikeThrough', null, $event)" [checked]="map['strikethrough']">
          <mat-icon>format_strikethrough</mat-icon>
        </mat-button-toggle> -->
      </mat-button-toggle-group>
      <!--<button-->
      <!--(click)="setTag($event,'forecolor', 'red')">red-->
      <!--</button>-->
      <!--<button (click)="setTag($event,'forecolor', 'black')">black</button>-->
      <!--<button (click)="setTag($event,'forecolor', 'red')">black</button>-->
      <!--<button (click)="setTag($event,'createlink')">link</button>-->
      <!--<button (click)="setTag($event,'insertimage')">image</button>-->
      <!-- <mat-button-toggle-group [vertical]="true">
        <mat-button-toggle (click)="execCommand('justifyLeft', null, $event)" [checked]="map['justifyleft']">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle (click)="execCommand('justifyCenter', null, $event)" [checked]="map['justifycenter']">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle (click)="execCommand('justifyRight', null, $event)" [checked]="map['justifyright']">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle (click)="execCommand('justifyFull', null, $event)" [checked]="map['justifyfull']">
          <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group> -->
    </div>
  </div>
  <div #editor id="content" [ngClass]=" hasFocus ? 'hover' : 'editor'"  [class.edit-mode]="isEditable" [ngStyle]="styleString" style="line-height: 20px;"
       (mousedown)="onMousedown()" 
       (keypress)="onKeypress($event)" 
       (keydown)="onKeydown($event)" 
       (mouseup)="onMouseup()"
       (keyup)="onKeyup($event)" 
       (focus)="onFocus()"
       (blur)="onBlur()"  >
       
  </div>
