<div id="products" class="page-layout carded fullwidth inner-scroll">

  
<!-- TOP BACKGROUND -->
<div class="top-bg mat-accent-bg"></div>
<!-- / TOP BACKGROUND -->

<!-- CENTER -->
<div class="center">

   <!-- HEADER -->
   <div class="header mat-accent-bg"
   fxLayout="column" fxLayoutAlign="center center"
   fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="flex-start center">

  <!-- APP TITLE -->
  <div class="logo my-12 m-sm-0"
       fxLayout="row" fxLayoutAlign="start center" fxFlex="33">
      <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        assignment
      </mat-icon>
      <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Liste de bloc
      </span>
  </div>
  <!-- / APP TITLE -->
  <div class="search-div mx-24 m-md-0" fxLayout="row" fxFlex="40" style="max-width: 36%">
      <mat-icon class="search-icon mr-16">
        search
    </mat-icon>
    <input class="search-input" (keyup)="applyFilter($event.target.value)" placeholder="Search for bloc" />
    
  </div>



</div>
<!-- / HEADER -->
    <div class="content-card mat-white-bg">
      
        <mat-table class="lds-table"
        #table [dataSource]="dataSource"
        matSort
       
        fusePerfectScrollbar>

 <!-- ID Column -->
 <ng-container matColumnDef="ID">
     <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
     <mat-cell *matCellDef="let bloc">
         <p class="text-truncate">{{bloc.id}}</p>
     </mat-cell>
 </ng-container>


 <!-- Category Column -->
 <ng-container matColumnDef="domaine">
    <mat-header-cell *matHeaderCellDef >Domaine</mat-header-cell>
    <mat-cell *matCellDef="let bloc" >
       {{bloc.domaine}}

    </mat-cell>
</ng-container>

 <!-- Name Column -->
 <ng-container matColumnDef="partie">
     <mat-header-cell *matHeaderCellDef > Partie</mat-header-cell>
     <mat-cell *matCellDef="let bloc">
        {{bloc.partie}}
     </mat-cell>
 </ng-container>





 <!-- Quantity Column -->
 <ng-container matColumnDef="Etat">
     <mat-header-cell *matHeaderCellDef  >Demande</mat-header-cell>
     <mat-cell *matCellDef="let bloc" >

    <span  [ngClass]="{
      'reject':bloc.etat === 'notShared',
      'success':bloc.etat === 'shared',
      'transmit':bloc.etat === 'request'}">{{getEtat(bloc)}}</span>

     </mat-cell>
 </ng-container>

 <ng-container matColumnDef="Action">
  <mat-header-cell *matHeaderCellDef  >Action</mat-header-cell>
  <mat-cell (click)="$event.stopPropagation()" *matCellDef="let bloc" >

    <button  (click)="menuTrigger.openMenu()" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="valider(bloc)">
          <mat-icon>check_box</mat-icon>
        <span>Accepter</span>
      </button>
      <button mat-menu-item (click)="reject(bloc)">
        <mat-icon>clear</mat-icon>
        <span>Refuser</span>
      </button>
    </mat-menu>
  </mat-cell>
</ng-container>

<ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let bloc"> 
      {{bloc.element.description}} 
    </mat-cell>
  </ng-container>


 <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

 <mat-row *matRowDef="let bloc; columns: displayedColumns;"
 matRipple 
 class="element-row" 
 [class.expanded]="expandedElement == bloc"
 (click)="expandedElement = bloc"></mat-row>
<mat-row *matRowDef="let bloc; columns: ['expandedDetail']; when: isExpansionDetailRow"
 [@detailExpand]="bloc.element == expandedElement ? 'expanded' : 'collapsed'"
 style="overflow: hidden"> 
</mat-row>
</mat-table>
<mat-card *ngIf="isLoading" 
style="display: flex; justify-content: center; align-items: center">
<mat-progress-spinner 
color="primary" 
mode="indeterminate">
</mat-progress-spinner>
</mat-card>
<mat-paginator #paginator

[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
    </div>

</div>

 </div>
      