<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header mat-accent-bg"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                assignment
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Liste des Utilisateurs
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <!-- <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
               <input class="main"/><mat-icon class="logo-icon mr-16" >
                search
            </mat-icon>
          </div> -->
          <div class="search-div mx-24 m-md-0" fxLayout="row">
            <mat-icon class="search-icon mr-16">
              search
          </mat-icon>
          <input class="search-input" (keyup)="applyFilter($event.target.value)" placeholder="recherche" />
          </div>
          <!-- / SEARCH -->

          <button mat-raised-button 
                  routerLink="/create-user"
                  class="add-product-button mat-white-bg my-12 mt-sm-0">
              <span>Ajouter Utilisateur</span>
          </button>

      </div>
      <!-- / HEADER -->
      <div class="content-card mat-white-bg">
        
          <mat-table class="lds-table"
          #table [dataSource]="dataSource"
          matSort
         
          fusePerfectScrollbar>

   <!-- ID Column -->
   <ng-container matColumnDef="ID">
       <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
       <mat-cell *matCellDef="let user">
           <p class="text-truncate">{{user.id}}</p>
       </mat-cell>
   </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
    <mat-cell *matCellDef="let user">
        <p class="text-truncate">{{user.username}}</p>
    </mat-cell>
</ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="Nom">
       <mat-header-cell *matHeaderCellDef >Nom</mat-header-cell>
       <mat-cell *matCellDef="let user">
           <p class="text-truncate">{{user.last_name}}</p>
       </mat-cell>
   </ng-container>

   <!-- Category Column -->
   <ng-container matColumnDef="Prénom">
       <mat-header-cell *matHeaderCellDef >Prénom</mat-header-cell>
       <mat-cell *matCellDef="let user" >
           <p class="text-truncate">
               {{user.first_name}}
           </p>
       </mat-cell>
   </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="Role">
        <mat-header-cell *matHeaderCellDef >Role</mat-header-cell>
        <mat-cell *matCellDef="let user" >
            <p class="text-truncate">
                {{getRole(user.role)}}
            </p>
        </mat-cell>
    </ng-container>

   <!-- Price Column -->
   <ng-container matColumnDef="Date/N">
       <mat-header-cell *matHeaderCellDef  >Date/N</mat-header-cell>
       <mat-cell *matCellDef="let user" >
        <p class="text-truncate">
          {{user.birth_date | date:medium}}
      </p>
       </mat-cell>
   </ng-container>

   <!-- Quantity Column -->
  
   <ng-container matColumnDef="Date de creation">
    <mat-header-cell *matHeaderCellDef  >Date de creation</mat-header-cell>
    <mat-cell *matCellDef="let user" >

     <p class="text-truncate">
       {{user.created_date| date:medium}}
   </p>

    </mat-cell>
</ng-container>
<ng-container matColumnDef="Activé">
  <mat-header-cell *matHeaderCellDef  >Activé</mat-header-cell>
  <mat-cell *matCellDef="let user" >

   <mat-icon *ngIf="user.is_active" class="active-icon mat-green-600-bg s-16">check</mat-icon>
   <mat-icon *ngIf="!user.is_active" class="active-icon mat-red-500-bg s-16">close</mat-icon>

  </mat-cell>
</ng-container>
   <ng-container matColumnDef="Action">
    <mat-header-cell *matHeaderCellDef  >Action</mat-header-cell>
    <mat-cell (click)="$event.stopPropagation()" *matCellDef="let user" >

      <button  (click)="menuTrigger.openMenu()" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item >
          <mat-icon svgIcon="edit"></mat-icon>
          <span>modifier</span>
        </button>
        <button mat-menu-item (click)="deleteUser(user)" >
          <mat-icon>delete</mat-icon>
          <span>supprimer</span>
        </button>
      </mat-menu>
    </mat-cell>
</ng-container>


   <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

   <mat-row *matRowDef="let user; columns: displayedColumns;"
            class="product"
            matRipple
            (click)="openDialog(user)">
           
          
            <!--  -->
            
           
   </mat-row>
 
</mat-table >
<mat-card *ngIf="isLoading" 
style="display: flex; justify-content: center; align-items: center">
<mat-progress-spinner 
 color="primary" 
 mode="indeterminate">
</mat-progress-spinner>
</mat-card>
<mat-paginator #paginator

[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
      </div>

  </div>
  <!-- / CENTER -->
</div>
