<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
           <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Ajouter un utilisateur</span>
           </div>
           <div class="h1 mt-16">Ajouter un utilisateur</div>
        </div>
     </div>
     <!-- / HEADER -->

 <div class="forms">
    <div class="vertical-stepper-wrapper">

        <!-- VERTICAL STEPPER EXAMPLE -->
        <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="verticalStepperStep1">

                <form [formGroup]="verticalStepperStep1">

                    <ng-template matStepLabel>Remplissez le nom d'utilisateur</ng-template>

                    <div fxFlex="0 0 40%" fxLayout="column"  >
                      
                        <mat-form-field appearance="outline" fxFlex="45">
                            <mat-label>Nom</mat-label>  
                          <input matInput placeholder="Nom" formControlName="lastName" required>
                            <mat-icon matSuffix>account_circle_outline</mat-icon>
                            <mat-error *ngIf="verticalStepperStep1Errors.lastName.required">
                                Le Nom est requis!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="45">
                            <mat-label>Prénom</mat-label>  
                          <input matInput placeholder="Prénom" formControlName="firstName" required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <mat-error *ngIf="verticalStepperStep1Errors.firstName.required">
                                Le prénom est requis!
                            </mat-error>
                        </mat-form-field>
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center"  fxFlex="10">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Suivant
                            </button>
                          </div>
                       
                    </div>

                    

                </form>

            </mat-step>

            <mat-step [stepControl]="verticalStepperStep2">

                <form [formGroup]="verticalStepperStep2">

                    <ng-template matStepLabel>Remplisser l'email d'utilisateur</ng-template>

                    <div fxFlex="0 0 40%" fxLayout="column"  >
                        <mat-form-field appearance="outline" fxFlex="45">
                            <mat-label>Email</mat-label>  
                          <input matInput placeholder="Email" formControlName="email" required>
                            <mat-icon matSuffix>alternate_email</mat-icon>
                            <mat-error *ngIf="verticalStepperStep2Errors.email.required">
                                Le champ adresse est requis!
                            </mat-error>
                        </mat-form-field>
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>
                       
                    </div>
                    <!-- <div fxFlex="1 0 auto" fxLayout="row">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Address" formControlName="address" required>
                                1600 Amphitheatre Pkwy
                            </textarea>
                            <mat-error *ngIf="verticalStepperStep2Errors.address.required">
                                Address is required!
                            </mat-error>
                        </mat-form-field>

                    </div> -->

                   

                </form>

            </mat-step>

            <mat-step [stepControl]="verticalStepperStep3">

                <form [formGroup]="verticalStepperStep3">

                    <ng-template matStepLabel>Remplisser la Date de naissance</ng-template>

                    <div fxFlex="0 0 40%" fxLayout="column"  >
                        <mat-form-field appearance="outline" fxFlex="45">
                            <mat-label>Date de Naissance</mat-label>  
                            <input matInput formControlName="birthDate"  [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date de naissance">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="verticalStepperStep3Errors.birthDate.required">
                                La date de naissance est requis!
                            </mat-error>
                        </mat-form-field>
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>
                       
                    </div>
                </form>

            </mat-step>

            <mat-step [stepControl]="verticalStepperStep4">

                    <form [formGroup]="verticalStepperStep4">
    
                        <ng-template matStepLabel>Donner un rôle</ng-template>
    
                        <div fxFlex="0 0 40%" fxLayout="column"  >
                                <mat-form-field>
                                        <mat-select placeholder="Role " formControlName="role">
                                                <mat-option value="ROLE_ADMIN">Admin</mat-option>
                                                <mat-option value="ROLE_COMITE">Comité</mat-option>
                                                <mat-option value="ROLE_INSPECTEUR_HIERARCHIQUE">Inspecteur hierarchique</mat-option>
                                                <mat-option value="ROLE_INSPECTEUR">Inspecteur</mat-option>

                                        </mat-select>
                                        <mat-error *ngIf="verticalStepperStep4Errors.role.required && verticalStepperStep4.get('role').touched">
                                            <span [hidden]="!verticalStepperStep4.get('role').hasError('role') ">Role est requis.</span>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field *ngIf="verticalStepperStep4.get('role').value == 'ROLE_INSPECTEUR'"> -->
                                    <mat-form-field>
                                            <mat-select placeholder="Votre Inspecteur hierarchique " formControlName="user">
                                                    <mat-option *ngFor="let user of userHierarchque" [value]=user.id>{{user.first_name}} {{user.last_name}}</mat-option>

    
                                            </mat-select>
                                            <mat-error *ngIf="verticalStepperStep4Errors.user.required && verticalStepperStep4.get('user').touched">
                                                <span [hidden]="!verticalStepperStep4.get('user').hasError('user') ">Role est requis.</span>
                                            </mat-error>
                                        </mat-form-field>
                            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    Previous
                                </button>
                                <button mat-raised-button matStepperNext type="button" color="accent">
                                    Next
                                </button>
                            </div>
                           
                        </div>
                    </form>
    
                </mat-step>

            <mat-step>

                <ng-template matStepLabel>Verifier & Terminer</ng-template>

                <div class="h3 m-16" fxFlex="0 0 100%" fxLayout="column" fxLayoutAlign="space-between space-between">
                  <div fxLayout="row" fxFlex="0 0 100%" fxLayoutAlign="space-between space-between">
                    <div fxFlex="40">
                        <mat-label>Nom 	&nbsp;:</mat-label> 
                        {{verticalStepperStep1.controls["lastName"].value }}
                    </div>  
                    <div  fxFlex="40">
                        <mat-label>Prénom : </mat-label> 
                        {{ verticalStepperStep1.controls["firstName"].value }}
                    </div>  
                </div>
                <div style="margin-top: 2%" fxLayout="row" fxFlex="0 0 100%" fxLayoutAlign="space-between space-between">
                    <div fxFlex="40">
                        <mat-label>Email : </mat-label> 
                        {{ verticalStepperStep2.controls["email"].value }}
                    </div>  
                    <div  fxFlex="40">
                        <mat-label>Date/N	&nbsp;:</mat-label> 
                        {{verticalStepperStep3.controls["birthDate"].value | date:'mediumDate' }}
                    </div>  
                </div>
                </div>

                <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                        Previous
                    </button>
                    <button mat-raised-button type="button" color="accent" [disabled]="isLoading" (click)="finishVerticalStepper()">
                        Finish
                    </button>
                </div>

            </mat-step>

        </mat-vertical-stepper>
        <!-- / VERTICAL STEPPER EXAMPLE -->

    </div>
</div>
</div>