@import "src/@fuse/scss/fuse";

:host {

    #products {

        .top-bg {
            @include media-breakpoint-down(xs) {
                height: 240px;
            }
        }

        > .center {

            > .header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint-down(xs) {
                    margin: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}
// .example-container {
//     width: 100%;
//     height: 100%;
//     margin: 10px;
//     border: 1px solid #555;
//   }
//   .sec1{
//       overflow-x: scroll;
//   }
//   app-sidenav { display: flex; }
// mat-drawer-container { flex: 1 1 auto; }
.app-title {
    font-size: 24px;
  }
  
  .box-title {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  
  .box-container {
    box-sizing: border-box;
    
    height: 500px;
   
    max-height: 90%;
    
   
    border-radius: 4px;
    
    
    
    
  }
  
  .info-container {
    padding: 12px 16px;
  
    line-height: 24px;
  }
  
  .action-container,
  .content-container {
    position: relative;
  
    overflow: auto;
    height: 300px;
    min-height: 0;
    margin: 8px 16px;
    border-radius: 4px;
  
    
  }
  
  .action-container {
    padding: 16px;
  }
  
  .content-container {
    position: relative;
  
    min-height: 0;
    padding: 8px;
    margin: 12px 16px;
    border: 1px solid #ccc;
  }
  
  .vertical-container{
    box-shadow: 9px 6px 20px 4px #777;
}
  
  .horizontal-container {
    min-height: 0 !important;
  }
  
  .action-button {
    box-sizing: border-box;
    width: calc(100% - 16px);
    min-height: 35px;
    padding: 4px 16px;
    margin: 8px;
    border: 1px solid #555;
    border-radius: 4px;
  
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
  }
  
  .action-button:hover {
    color: #fff;
    background-color: #555;
  }
  
  .scroll-container {
    position: relative;
  }
  
  .scrollable-content {
    padding: 16px;
    margin: 0;
  }
  .box {
    width:70%;
    padding: 3px;
	height:200px;
	background:#FFF;
	margin:40px auto;
}
.box h3{
    text-align:center;
      position:relative;
      top:80px;
  }
  .gmd {
    background: #fff;
    border-radius: 2px;

  }
  .gmd-5 {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .card{
    box-shadow: -9px 8px 7px 0px rgba(255, 255, 255, 0.2);
  }

  .card:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #c0392b;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 240mm;
    min-height: 257mm;
    
    padding-left: 20mm;
    padding-right: 20mm;
    margin: 10mm auto;
   
    
    background: #fff;
    
}
.subpage {
    padding: 1cm;
    
    height: 500mm;
    outline: 2cm #F5F5F5 solid;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 270mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);

    border: 1px dashed;
    padding: 3px;
 
    
}


[contentEditable=true] {
    padding-top: 18px;
}

.addresse{
    margin-left: 300px
}

.objet{
    font-weight: bold;
    text-decoration: underline;
}
.reference{
    font-weight: bold;
    text-decoration: underline;
    padding-top: 5px;
}
.content{
    margin-left: 67px;
}
// .reference{
//     margin-left: 29px;
// }
.header {
    text-align: justify;
  text-justify: inter-word;
}
.book > * {
    text-align: justify;
  text-justify: inter-word;
  font-family: 'Garamond';
  font-size: 18px;
}

.synthese ~ [contentEditable=true]{
    border: solid black;
}
.synthese {
    padding: 20px;

    border: 1px solid #000;
    
 }
 .addButton{
    margin-left: auto;
    margin-top: 10px;
 }
 .blocBody{
    border: 1px dashed;
    margin-top:10px; 
    padding-bottom: 10px;
 }
 .blocInput{
     padding: 5px;
 }
 /* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }