<div class="carousel">
        <!-- slides -->
        <ul class="slides">
            <li class="slide" *ngFor="let slide of slides; let i = index;" [@slideState]="getAnimationSlideState(i)" (@slideState.start)="animationStarted($event)"
            (@slideState.done)="animationDone($event)">
                <ng-container *ngTemplateOutlet="slideTemplateRef; context: { $implicit: slide }"></ng-container>
            </li>
        </ul>
        <!-- navigations & thumbnails -->
        <div class="navigations">
            <button type="button" (click)="select(activeSlides.previous)" *ngIf="slides.length > 1 && isNavigationVisible">
            <span>left</span> 
        </button>
    
            <button type="button" (click)="select(activeSlides.next)" *ngIf="slides.length > 1 && isNavigationVisible">
            <span>right</span> 
        </button>
        </div>
    </div>