<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header mat-accent-bg"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                assignment
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Liste de LdS
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <!-- <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
               <input class="main"/><mat-icon class="logo-icon mr-16" >
                search
            </mat-icon>
          </div> -->
          <div class="search-div mx-24 m-md-0" fxLayout="row">
            <mat-icon class="search-icon mr-16">
              search
          </mat-icon>
          <input class="search-input" (keyup)="applyFilter($event.target.value)" placeholder="Search for Lds" />
          
        </div>
        <section class="example-section">

          <mat-radio-group [(ngModel)]="radioButton">
            <mat-radio-button class="example-margin" value="all" (change)="radioChange($event)">Tous</mat-radio-button>
            <mat-radio-button class="example-margin" value="mine" (change)="radioChange($event)">Mes Lds</mat-radio-button>
          </mat-radio-group>
        </section>  
          <!-- / SEARCH -->

          <button mat-raised-button
             
                  class="add-product-button mat-white-bg my-12 mt-sm-0">
              <span>Ajouter LDS</span>
          </button>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">

      


                  <mat-tab-group>

                      <mat-tab label="Les Lds">

                        
        
                          <mat-table class="lds-table"
                          #table [dataSource]="dataSource"
                          matSort
                         
                          fusePerfectScrollbar>
                        
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                        <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
                        <mat-cell *matCellDef="let lds">
                           <p class="text-truncate">{{lds.id}}</p>
                        </mat-cell>
                        </ng-container>
                        
                        <!-- Image Column -->
                        <ng-container matColumnDef="Image">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell (click)="$event.stopPropagation()" *matCellDef="let lds" >
                        <img (click)="generatePDF(lds.id)" class="lds-image" [src]="'assets/images/lds-placeholder.JPG'">
                        </mat-cell>
                        </ng-container>
                        
                        <!-- Name Column -->
                        <ng-container matColumnDef="N/Réf">
                        <mat-header-cell *matHeaderCellDef > N/Réf</mat-header-cell>
                        <mat-cell *matCellDef="let lds">
                           <p class="text-truncate">{{lds.refN}}</p>
                        </mat-cell>
                        </ng-container>
                        
                        <!-- Category Column -->
                        <ng-container matColumnDef="Date">
                        <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
                        <mat-cell *matCellDef="let lds" >
                           <p class="category text-truncate">
                               {{lds.date}}
                           </p>
                        </mat-cell>
                        </ng-container>
                        
                        <!-- Price Column -->
                        <ng-container matColumnDef="Progress">
                        <mat-header-cell *matHeaderCellDef  >Progrés</mat-header-cell>
                        <mat-cell *matCellDef="let lds" >
                        {{lds.progress*100 + '%'}}<mat-progress-bar [ngClass]="getProgressBarClass(lds.progress)" mode="determinate" [value]="lds.progress*100"></mat-progress-bar>
                        
                        </mat-cell>
                        </ng-container>
                        
                        <!-- Quantity Column -->
                        <ng-container matColumnDef="Etat">
                        <mat-header-cell *matHeaderCellDef  >Etat</mat-header-cell>
                        <mat-cell *matCellDef="let lds" >
                        
                        <span  [ngClass]="{
                        'transmit':lds.etat === 'transmit',
                        'creation':lds.etat === 'onCreation',
                        'reject' : lds.etat === 'reject',
                        'success' : lds.etat === 'valid'}">{{getLdsEtat(lds.etat)}}</span>
                        
                        </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef  >Action</mat-header-cell>
                        <mat-cell (click)="$event.stopPropagation()" *matCellDef="let lds" >
                        
                        <button  (click)="menuTrigger.openMenu()" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                        <button mat-menu-item [disabled]="lds.etat == 'transmit' || lds.etat == 'reject' || !isMyLds(lds)" (click)="preview(lds.id)">
                          <mat-icon svgIcon="edit"></mat-icon>
                          <span>modifier</span>
                        </button>
                        <button mat-menu-item (click)="generatePDF(lds.id)" >
                          <mat-icon svgIcon="preview"></mat-icon>
                          <span>Aperçu</span>
                        </button>
                        <button mat-menu-item (click)="remove(lds.id)" [disabled]="lds.etat == 'transmit' || lds.etat == 'reject' || !isMyLds(lds) " >
                          <mat-icon>delete</mat-icon>
                          <span>supprimer</span>
                        </button>
                        <button mat-menu-item [disabled]="lds.progress<1 || !isMyLds(lds) || lds.etat == 'transmit' " (click)="transmit(lds)">
                          <mat-icon svgIcon="transmit"></mat-icon>
                          <span>transmettre</span>
                        </button>
                        </mat-menu>
                        </mat-cell>
                        </ng-container>
                        
                        
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                        
                        <!-- <mat-row *matRowDef="let lds; columns: displayedColumns;"
                            class="product"
                            matRipple
                            [routerLink]="'/lds-detail/'+lds.id"> -->
                            <mat-row *matRowDef="let lds; columns: displayedColumns;"
                            class="product"
                            matRipple
                            (click)="rowOnClick(lds)">
                          
                            <!--  -->
                            
                           
                        </mat-row>
                        
                        </mat-table >
                        <mat-card *ngIf="isLoading" 
                        style="display: flex; justify-content: center; align-items: center">
                        <mat-progress-spinner 
                        color="primary" 
                        mode="indeterminate">
                        </mat-progress-spinner>
                        </mat-card>
                        <mat-paginator #paginator
                        
                        [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
              
                        

                      </mat-tab>

                      <mat-tab label="Les Lds soumises">
                          
                        <mat-table class="lds-table"
                        #table2 [dataSource]="dataSource2"
                        matSort2
                       
                        fusePerfectScrollbar>
                      
                      <!-- ID Column -->
                      <ng-container matColumnDef="ID">
                      <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
                      <mat-cell *matCellDef="let lds">
                         <p class="text-truncate">{{lds.id}}</p>
                      </mat-cell>
                      </ng-container>
                      
                      <!-- Image Column -->
                      <ng-container matColumnDef="Image">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell (click)="$event.stopPropagation()" *matCellDef="let lds" >
                      <img (click)="generatePDF2(lds.id)" class="lds-image" [src]="'assets/images/lds-placeholder.JPG'">
                      </mat-cell>
                      </ng-container>
                      
                      <!-- Name Column -->
                      <ng-container matColumnDef="N/Réf">
                      <mat-header-cell *matHeaderCellDef > N/Réf</mat-header-cell>
                      <mat-cell *matCellDef="let lds">
                         <p class="text-truncate">{{getNumRef(lds.num_ref)}}</p>
                      </mat-cell>
                      </ng-container>
                      
                      <!-- Category Column -->
                      <ng-container matColumnDef="lastName">
                      <mat-header-cell *matHeaderCellDef >Nom</mat-header-cell>
                      <mat-cell *matCellDef="let lds" >
                         <p class="category text-truncate">
                             {{lds.lastName}}
                         </p>
                      </mat-cell>
                      </ng-container>
                      
                      <!-- Price Column -->
                      <ng-container matColumnDef="firstName">
                      <mat-header-cell *matHeaderCellDef  >Prénom</mat-header-cell>
                      <mat-cell *matCellDef="let lds" >
                        <p class="category text-truncate">
                          {{lds.firstName}}
                      </p>
                      </mat-cell>
                      </ng-container>
                      
                      <!-- Quantity Column -->
                      
                      
                      <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef  >Action</mat-header-cell>
                      <mat-cell (click)="$event.stopPropagation()" *matCellDef="let lds" >
                      
                      <button  (click)="menuTrigger.openMenu()" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="valider(lds.id)">
                          <mat-icon>check_box</mat-icon>
                          <span>Valider</span>
                      </button>
                      <button mat-menu-item (click)="demandeRectification()" >
                        <mat-icon >settings_applications</mat-icon>
                        <span>Demande de rectification</span>
                      </button>

                      <button mat-menu-item (click)="reject(lds.id)">
                        <mat-icon svgIcon="rejected" ></mat-icon>
                        <span>Rejeter</span>
                      </button>
                      </mat-menu>
                      </mat-cell>
                      </ng-container>
                      
                      
                      <mat-header-row *matHeaderRowDef="displayedColumns2; sticky:true"></mat-header-row>
                      
                      <mat-row *matRowDef="let lds; columns: displayedColumns2;"
                          class="product"
                          matRipple
                          (click)="generatePDF(lds.id)">
                         
                        
                          <!--  -->
                          
                         
                      </mat-row>
                      
                      </mat-table >
                      <mat-card *ngIf="isLoading" 
                      style="display: flex; justify-content: center; align-items: center">
                      <mat-progress-spinner 
                      color="primary" 
                      mode="indeterminate">
                      </mat-progress-spinner>
                      </mat-card>
                      <mat-paginator #paginator2
                      
                      [pageSizeOptions]="[5, 10, 25, 100]">
                      </mat-paginator>
                      </mat-tab>

                    


                    

                  </mat-tab-group>
           

         

      </div>
      <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
