<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Orders</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper ml-sm-16"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <div class="content-card mat-white-bg">
        
            <mat-table class="lds-table"
            #table [dataSource]="dataSource"
            matSort
           
            fusePerfectScrollbar>
  
     <!-- ID Column -->
     <ng-container matColumnDef="ID">
         <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
         <mat-cell *matCellDef="let lds">
             <p class="text-truncate">{{lds.id}}</p>
         </mat-cell>
     </ng-container>
  
    <!-- Image Column -->
    <ng-container matColumnDef="Image">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell (click)="$event.stopPropagation()" *matCellDef="let lds" >
          <img (click)="generatePDF(lds.id)" class="lds-image" [src]="'assets/images/lds-placeholder.JPG'">
      </mat-cell>
  </ng-container>
  
     <!-- Name Column -->
     <ng-container matColumnDef="N/Réf">
         <mat-header-cell *matHeaderCellDef > N/Réf</mat-header-cell>
         <mat-cell *matCellDef="let lds">
             <p class="text-truncate">{{lds.refN}}</p>
         </mat-cell>
     </ng-container>
  
     <!-- Category Column -->
     <ng-container matColumnDef="Date">
         <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
         <mat-cell *matCellDef="let lds" >
             <p class="category text-truncate">
                 {{lds.date}}
             </p>
         </mat-cell>
     </ng-container>
  
     <!-- Price Column -->
     <ng-container matColumnDef="Progress">
         <mat-header-cell *matHeaderCellDef  >Progress</mat-header-cell>
         <mat-cell *matCellDef="let lds" >
       {{lds.progress*100 + '%'}}<mat-progress-bar [ngClass]="getProgressBarClass(lds.progress)" mode="determinate" [value]="lds.progress*100"></mat-progress-bar>
  
         </mat-cell>
     </ng-container>
  
     <!-- Quantity Column -->
     <ng-container matColumnDef="Etat">
         <mat-header-cell *matHeaderCellDef  >Etat</mat-header-cell>
         <mat-cell *matCellDef="let lds" >
  
          {{getLdsEtat(lds.etat)}}
  
         </mat-cell>
     </ng-container>
  
     <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef  >Action</mat-header-cell>
      <mat-cell (click)="$event.stopPropagation()" *matCellDef="let lds" >
  
        <button  (click)="menuTrigger.openMenu()" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="preview(lds.id)">
            <mat-icon svgIcon="edit"></mat-icon>
            <span>modifier</span>
          </button>
          <button mat-menu-item (click)="generatePDF(lds.id)" >
            <mat-icon svgIcon="preview"></mat-icon>
            <span>Aperçu</span>
          </button>
          <button mat-menu-item (click)="remove(lds.id)" >
            <mat-icon>delete</mat-icon>
            <span>supprimer</span>
          </button>
          <button mat-menu-item>
            <mat-icon svgIcon="transmit"></mat-icon>
            <span>transmettre</span>
          </button>
        </mat-menu>
      </mat-cell>
  </ng-container>
  
  
     <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  
     <mat-row *matRowDef="let lds; columns: displayedColumns;"
              class="product"
              matRipple
              [routerLink]="'/lds-detail/'+lds.id">
             
            
              <!--  -->
              
             
     </mat-row>
   
  </mat-table >
  <mat-card *ngIf="isLoading" 
  style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
   color="primary" 
   mode="indeterminate">
  </mat-progress-spinner>
  </mat-card>
  <mat-paginator #paginator
  
  [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
        </div>
  
    </div>
    <!-- / CENTER -->
  </div>
  