<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
         <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Espace de creation Lds</span>
         </div>

      </div>
   </div>
   <!-- / HEADER -->

   
  <div fxLayout="row" fxFlex="100%">
      <mat-drawer-container class="example-container" autosize style="overflow:scroll;position:fixed">
          <div class="icon mat-primary-bg mat-elevation-z2 theme-options-button">
              <button mat-icon-button class="mat-primary-bg mat-elevation-z2 theme-options-button"
              (click)="drawer.toggle()"  (click)="drawerSymbol()" *ngIf="showFiller == false">
                 <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
        
            <button mat-icon-button class="mat-primary-bg mat-elevation-z2 theme-options-button" 
            (click)="drawer.toggle()" (click)="drawerSymbol()" *ngIf="showFiller == true">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            
          </div>
          
            <mat-drawer #drawer class="example-sidenav" mode="side" fxLayout="column"  >
              <h1>Search</h1>
              <div fxLayout="row"
              fxLayout.xs="column">
                  <div class="select">
                      <select [(ngModel)]="selectedDomaine" (change)="onSelectChange()">
                        <option [ngValue]="0">choisir la Domaine</option>
                        <option [ngValue]="item.id" *ngFor="let item of domaine">{{item.nom}}</option>
                      </select>
                    </div>
                    <div class="select">
                        <select [(ngModel)]="selectedThematique" (change)="onSelectChange()">
                          <option [ngValue]="0" >choisir la thématique</option>
                          <option [ngValue]="item" *ngFor="let item of thematique">{{item.nom}}</option>
                        </select>
                      </div>
                      <div class="select" >
                          <select [(ngModel)]="selectedSousThematique" (change)="onSelectChange()">
                            <option [ngValue]="0">Choose an option</option>
                                <option  [ngValue]="item.id" *ngFor="let item of selectedThematique.children">{{item.nom}}</option>
                          </select>
                        </div>
                       
              <!-- <select class="select-css" fxFlex="33">
                  <option>This is a native select element</option>
                  <option>Apples</option>
                  <option>Bananas</option>
                  <option>Grapes</option>
                  <option>Oranges</option>
              </select>
              <select class="select-css" fxFlex="33">
                  <option>This is a native select element</option>
                  <option>Apples</option>
                  <option>Bananas</option>
                  <option>Grapes</option>
                  <option>Oranges</option>
              </select> -->
            </div>
            <!-- <div class="search-input"
             fxLayout="row" fxLayoutAlign="start center">
           <label for="search" class="mr-8">
               <mat-icon class="secondary-text">search</mat-icon>
           </label>
           <mat-form-field floatLabel="never" fxFlex="1 0 auto">
               <input id="search" matInput #filter placeholder="Search">
           </mat-form-field>
       </div> -->
       <input type="text" name="search" placeholder="Search.."  [(ngModel)]="searchInput"/>

       <div class='column' >
        <!-- <input type="text" name="search" placeholder="Search.."  [(ngModel)]="searchInput" (ngModelChange)="onSelectChange()"> -->
         <!-- CARD 3 -->
         <div class="card" *ngFor="let bloc of blocs | filter:searchInput">

          <!-- PREVIEW -->
          <div class="card-preview">
               

              <div class="fuse-card">
                  
                  <div class="p-16">
                        <div fxLayout="row" >
                                <div class="h1" fxFlex="80">Bloc Reglementaire</div>
                                <div fxLayoutAlign="end" fxLayout="column" fxFlex="20">
                                        <div class="corner" fxLayout="column" fxFlex="100"><p class="bloc-parite" fxFlex="80">A</p><div fxFlex="20"></div></div>
                                                                        </div>
                        </div>
                      
                      <div class="h4 secondary-text">{{bloc.thematique.nom}}</div>
                  </div>

                  <div class="p-16 pt-0 line-height-1.75">
                      <p [innerHTML]="bloc.description |  highlight: searchInput"></p>
                  </div>
                 
                  <div class="px-16 py-4" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-stroked-button color="accent" (click)="addBloc(bloc)">Add</button>
                    <button style="margin-left: 10px" mat-icon-button 
                    (click)="onClick()"  (click)="drawerSymbol()">
                       <mat-icon style="color: #2C3E50;">arrow_drop_down_circle</mat-icon>
                    </button>
                  </div>

              </div>

          </div>
          <!-- / PREVIEW -->

          
          <!-- this is mine -->

       <!-- CARD 3 -->
       <div class="card" *ngFor="let blocSupp of bloc.bloc_supplementaire"  style="margin-left: 10%">

        <!-- PREVIEW -->
        <div class="card-preview">

            <div class="fuse-card">

                <div class="p-16">
                    <div class="h1" *ngIf="blocSupp.type == 'constat'">Bloc Constat</div>
                    <div class="h1" *ngIf="blocSupp.type == 'demande'">Bloc Demande/Recommendation</div>
                    <!-- <div class="h4 secondary-text">Free on Thursdays</div> -->
                </div>

                <div class="p-16 pt-0 line-height-1.75">
                    
                    <p [innerHTML]="blocSupp.description |  highlight: searchInput"></p>
                </div>

                
                <div class="px-16 py-4" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-stroked-button color="accent" (click)="addBlocSup(bloc,blocSupp)">Add</button>
                  </div>
            </div>

        </div>
        <!-- / PREVIEW -->

        

        </div>
    <!-- / CARD 3 -->
      <!-- this is the end-->

      </div>
      <!-- / CARD 3 -->


      

     
</div>
<div *ngIf="isLoading" fxLayoutAlign="center center" ><div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>

            </mat-drawer>
        
        
          <!-- <div class="example-sidenav-content">
            Show Graph
        
          </div> -->
          <div class="body" fxLayout="column" style="background-color: white">
              
            <div class="header" fxLayout="column">
                    <p fxLayoutAlign="end center" class="lds-header-text">REPUBLIQUE FRANCAISE</p>
                    <img src="../../../assets/images/logo.png" style="width: 30%"/>
                    <p class="lds-header-text" style="margin-left: 3%">DVISION DE PARIS</p>
                    <wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)" (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.date"   [styleString]="parentMessage" [toolbarStyle]="toolbarStyle" style="align-self: flex-end;" class="date"></wysiwyg-editor>
                    <div fxLayout="row"><p class="objet">N/Réf. :</p><wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)" (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.refN"   [styleString]="parentMessage2" [toolbarStyle]="toolbarStyle" ></wysiwyg-editor></div>
                    <wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)"  (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.destinataire"   [styleString]="parentMessage3" [toolbarStyle]="toolbarStyle" ></wysiwyg-editor>
                    <div  fxLayout="row" style="margin-top: 5px">
                            <p  class="objet">Objet :</p>
                            <wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)" (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.objet"   [styleString]="parentMessage4" [toolbarStyle]="toolbarStyle" ></wysiwyg-editor>

                            <!-- <div class="content" >
                               <div contenteditable=true  data-text="Enter object here"  [(ngModel)]="text4" class="ref"></div>
                            </div> -->
                    </div>
                    <div  fxLayout="row" style="margin-top: 5px">
                            <p  class="objet">Références :</p>
                            <wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)" (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.refD"   [styleString]="parentMessage5" [toolbarStyle]="toolbarStyle" ></wysiwyg-editor>

                            <!-- <div class="reference" >
                               <div contenteditable=true  data-text="Enter reference here" class="ref" [(ngModel)]="text5"></div>
                            </div> -->
                    </div>
                    <wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)" (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.body" [styleString]="parentMessage6"  [toolbarStyle]="toolbarStyle" ></wysiwyg-editor>
                    <p class="objet" style="padding-top: 10px;padding-bottom: 10px;">Synthèse de l'inspection</p>
                           
                    <!-- <div contenteditable=true div class="synthese" data-text="Enter addresse here" [(ngModel)]="text7" ></div> -->
                    <wysiwyg-editor (buttonClick)="generatePDF($event)" (transmitButton)="transmit($event)" (saveButton)="saveLds($event)" (truncateButton)="getSelectionText($event)" [(html)]="lds.synthese"   [styleString]="parentMessage7" [toolbarStyle]="toolbarStyle" ></wysiwyg-editor>
                   <div class="blocs">
                        <fieldset class="blocs-content" *ngFor="let item of lds.partie; let j = index">
                            <legend class="numerotation" *ngIf="j==0">A. <span class="objet">Demandes d'actions correctives</span></legend>
                            <legend class="numerotation" *ngIf="j==1">B. <span class="objet">Compléments d’information</span></legend>
                            <legend class="numerotation" *ngIf="j==2">C. <span class="objet">Observations</span></legend>
                            <legend class="numerotation" *ngIf="j==3">D. <span class="objet">Demandes d'actions correctives</span></legend>
                            <!-- CARD 3 -->
                            
                            <div *ngIf="item.length != 0">
         <div class="card" *ngFor="let bloc of item; let i = index">
           
            <!-- PREVIEW -->
            <div class="card-preview">
                
                <div class="fuse-card">
                    
                    <div class="p-16">
                        <div fxLayout="row" >
                            <div class="h1" fxFlex="80">Bloc Reglementaire</div>
                            <div fxLayoutAlign="end" fxFlex="20">
                                <button class="close-button" (click)="getVersion(bloc)"><mat-icon>remove_red_eye</mat-icon></button>

                                <button class="close-button" (click)="shareBloc(bloc)"><mat-icon>share</mat-icon></button>    
                                <button class="close-button" (click)="removeBloc(bloc,item)"><mat-icon>close</mat-icon></button>
                                    

                                </div>
                    </div>
                        
                        <div class="h4 secondary-text">
                            <span *ngIf="j==0">A.</span>
                            <span *ngIf="j==1">B.</span>
                            <span *ngIf="j==2">C.</span>
                            <span *ngIf="j==3">D.</span>
                            {{i+1}} {{bloc.thematique.nom}}</div>
                    </div>
  
                    <div class="p-16 pt-0 line-height-1.75" (mouseup)="getSelectedBloc(bloc)">
                     {{getBloc(bloc)}}
                      
                    </div>
                   
                    <div class="px-16 py-4" fxLayout="row" fxLayoutAlign="end center">
                      
                    </div>
  
                </div>
  
            </div>
            <!-- / PREVIEW -->
        
             <!-- this is mine -->

       <!-- CARD 3 -->
       <div class="card" *ngFor="let blocSupp of bloc.blocSupp"  style="margin-left: 10%">

        <!-- PREVIEW -->
        <div class="card-preview">

            <div class="fuse-card">

                <div class="p-16">
                    <div class="h1" *ngIf="blocSupp.type == 'constat'">Bloc Constat</div>
                    <div class="h1" *ngIf="blocSupp.type == 'demande'">Bloc Demande/Recommendation</div>
                    <!-- <div class="h4 secondary-text">Free on Thursdays</div> -->
                </div>

                <div class="p-16 pt-0 line-height-1.75">
                    {{blocSupp.description}}
                </div>

                
              
            </div>

        </div>
        <!-- / PREVIEW -->

        

        </div>
    <!-- / CARD 3 -->
      <!-- this is the end-->
  
        </div>
    </div>
        <!-- / CARD 3 -->
                        </fieldset>
                    </div>
                </div>

          </div>
        
        </mat-drawer-container>
        
  </div>
  
</div>
