
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";
.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #F5F5F5;
    
   
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .example-sidenav {
    padding: 10px;
    height:100%;
    top:0px;
    width: 40%;
    box-shadow: -11px 1px 30px 0px #636363;
    -webkit-box-shadow: -11px 1px 30px 0px #636363;
   
  }
  
  .btn{
    height:25px;
    width:25px;
    margin-top:15px;
  }
  .icon{

    position: absolute;
    width: 40px;
    background-color: #4F5463;
    border-radius: 60px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 3px 1px 4px #888;
  }
  .mat-drawer {
    background-color: #ced6e0;
  }
  h1{
      color: #2D323E;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin: 3px;
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  .search-input{
    border-radius: 28px;
    overflow: hidden;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

 
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../../../../assets/icons/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 30px;
  background-color: #2C3E50;
  margin-top: 10px;
}

input[type=text]:focus {
  width: 100%;
}
.fuse-card{
  max-width: 100%;

  margin-top: 10px;
}
.body{
  width: 85%;
  display: flex;
  background-color: #fff;
  margin: 5%;
  box-shadow: 4px 4px 20px 0px #aba4a4;
  padding: 3%;
}
.lds-header-text{
  color: #007978;
  font-size: 1.4vw;
}
.objet{
  font-weight: bold;
  text-decoration: underline;

}
.numerotation{
  font-weight: bold;
}
.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}
.column{
 
  overflow: auto;
}
.blocs{
  margin-top: 4%;
}
.blocs-content{
  min-height: 150px;
  margin-bottom: 20px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.close-button{
  background-color: #353b48;
  height: 26px;
  background-image: url("../../../../assets/icons/truncate.png")
}
.close-button .mat-icon{
  color: white;
}
.close-button:hover{
  background-color: #e84118;
}
::ng-deep snack-bar-container.red-snackbar {
  background: #e84118;
}

::ng-deep .red-snackbar .mat-simple-snackbar {
  color: white;
}

// .ribbon {
//   position: relative;
//   width: 10%;
//   height: 100px;
//   background: #007978;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
  
  
//   &:after, &:before {
//     content: '';
//     position: absolute;
//     width: 0;
//     height: 0;
//     bottom: -20px;
//     border-top: 20px solid transparent;
//     border-bottom: 20px solid transparent;
//   }
  
//   &:before {
//     left: 0;
//     border-left: 25px solid #007978;
//   }
  
//   &:after {
//     right: 0;
//     border-right: 25px solid #007978;
//   }
// }
.corner{
  width: 50px;
  height: 20px;
  color: #fff;
  text-align: center;
  position: relative;
  background: #012E57;

}
.bloc-parite{
  position: relative;

  width: 50px;
  font-weight: 800;
  font-size: xx-large;
}
