/* 
.dialog-headline{
    font-weight: 500;
    margin-top: -1.5em;
    margin-left: -1.5em;
    margin-right: -1.5em;
    margin-bottom: 0;
    padding: 1em;
    text-align: left;
    font-size: 1.5em;
    background-color: dodgerblue;
    color:white;    
  }
  .md-dialog-container {
    background-color: #000;
    width: 250px;
    height: 250px
}
.c-check__view {
    box-shadow: 0px 15px 15px -8px rgba(238, 74, 69, 0.4);
    display: block;
    cursor: pointer;
    width: 72px;
    height: 35px;
    background-color: #ee4a45;
    border-radius: 25px;
    position: relative;
    transition: all 400ms;
  }
  .c-check__view:before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 9px;
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .c-check input {
    display: none;
  }
  .c-check input:active ~ .c-check__view {
    transform: scale(0.9);
  }
  .c-check input:checked ~ .c-check__view {
    background-color: #75e681;
    box-shadow: 0px 15px 15px -8px rgba(117, 230, 129, 0.4);
  }
  .c-check input:checked ~ .c-check__view:before {
    width: 0;
    border-left-width: 5px;
    border-right-width: 5px;
    border-radius: 10px;
    left: 58px;
  }
   */

   @import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
