<!-- <h4 color="primary" class="dialog-headline">AddFile</h4>
<div mat-dialog-content>
<p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> 
  <form  fxLayout="column" fxLayoutAlign="start"
  fxFlex="1 0 auto" name="form" [formGroup]="form">

<div class="h2 mb-24">Reactive Form Example</div>

<div fxLayout="column" fxLayoutAlign="start start" fxFlex="1 0 auto"style="width: 100%" >
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="space-between space-between"style="width: 100%" >
        <mat-form-field appearance="outline" fxFlex="49">
            <mat-label>Nom</mat-label>  
          <input matInput placeholder="Nom" formControlName="lastName" required>
            <mat-icon matSuffix>account_circle_outline</mat-icon>
            <mat-error *ngIf="form.get('lastName').hasError('required')">
                Le Nom est requis!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="49">
            <mat-label>Prénom</mat-label>  
          <input matInput placeholder="Prénom" formControlName="firstName" required>
            <mat-icon matSuffix>account_circle_outline</mat-icon>
            <mat-error *ngIf="form.get('firstName').hasError('required')">
                Le Prénom est requis!
            </mat-error>
        </mat-form-field>   
    </div>
    <mat-form-field appearance="outline" fxFlex="98" style="width: 100%">
        <mat-label>Email</mat-label>  
      <input matInput placeholder="Email" formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
                        *ngIf="!form.get('email').hasError('required') &&
                                form.get('email').hasError('email')">
                                S'il vous plaît entrer une adresse e-mail valide
                    </mat-error>
    </mat-form-field> 
    <div style="width: 100%" fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="space-between space-between">
    <mat-form-field appearance="outline" fxFlex="45">
        <mat-label>Date de Naissance</mat-label>  
        <input matInput formControlName="birthDate" [matDatepicker]="picker" placeholder="Date de naissance">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!form.get('birthDate').hasError('required')">
            La date de naissance est requis!
        </mat-error>
    </mat-form-field>
    <div  fxFlex="45" style="padding-bottom: 5%" fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="center center">

    <label class="c-check">
        <input type="checkbox" value="1" />
        <span class="c-check__view"></span>
      </label>
      </div>
   </div>
    </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->


<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../../assets/images/avatars/Abbott.jpg" class="avatar contact-avatar huge m-0"
                 />
            <div class="contact-name mt-8">test test</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="form">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" placeholder="Name" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input name="lastName" formControlName="lastName" placeholder="Lastname" matInput>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">star</mat-icon>
                    <input name="nickname" formControlName="nickname" matInput placeholder="Nickname">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>
                    <input formControlName="phone" matInput placeholder="Phone number">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email" placeholder="Email">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">domain</mat-icon>
                    <input name="company" formControlName="company" matInput placeholder="Company">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">work</mat-icon>
                    <input name="jobTitle" formControlName="jobTitle" matInput placeholder="Job title">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="mr-24" fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">cake</mat-icon>
                    <input matInput [matDatepicker]="birthdayDatePicker" placeholder="Birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">home</mat-icon>
                    <input name="address" formControlName="address" matInput placeholder="Address">
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <textarea name="notes" formControlName="notes" placeholder="Notes" matInput type="text"
                              max-rows="4"></textarea>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="_matDialogRef.close(form)"
                class="save-button mat-accent"
                [disabled]="form.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="_matDialogRef.close(['save',form])"
                class="save-button mat-accent"
                [disabled]="form.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-icon-button
                (click)="_matDialogRef.close(['delete',form])"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
