
<fuse-progress-bar></fuse-progress-bar>
<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo" style="width: 263px">
                <img src="assets/images/logos/logo.png" >
            </div>

            <div class="title">CONNEXION À VOTRE COMPTE</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email est requis
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                                S'il vous plaît entrer une adresse e-mail valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Mot de passe" formControlName="password">
                    <mat-error>
                        Mot de passe  est requis
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="end ">


                    <a style="float: right" class="forgot-password" [routerLink]="'/forgot-password'">
                        Mot de passe oublié?
                    </a>
                </div>
                <alert></alert>
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid || loading">
                    Se connecter
                </button>
               
            </form>

            

        </div>

    </div>

</div>