<fuse-progress-bar></fuse-progress-bar>
<div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Modifier Utilisateur</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
    
            <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../../assets/images/avatars/avatar.png" class="avatar contact-avatar huge m-0"
/>
                <div class="contact-name mt-8">{{user.first_name}} {{user.last_name}}</div>
            </mat-toolbar-row>
        </mat-toolbar>
    
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    
            <form [formGroup]="contactForm">
    
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFlex>
                        <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                        <input name="name" formControlName="lastName" placeholder="Nom" matInput required>
                        <mat-error *ngIf="contactForm.get('email').hasError('required')">
                                Nom est requis
                            </mat-error>
                    </mat-form-field>
                </div>
    
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFlex>
                        <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                        <input name="lastName" formControlName="firstName" placeholder="Prénom" matInput required>
                        <mat-error *ngIf="contactForm.get('email').hasError('required')">
                                Prénom est requis
                            </mat-error>
                    </mat-form-field>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFlex>
                        <mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>
                        <input name="email" formControlName="email" matInput type="email" placeholder="Email" required>
                        <mat-error *ngIf="contactForm.get('email').hasError('required')">
                                Email est requis
                            </mat-error>
                            <mat-error
                                *ngIf="!contactForm.get('email').hasError('required') &&
                                        contactForm.get('email').hasError('email')">
                                        S'il vous plaît entrer une adresse e-mail valide
                            </mat-error>
                            <mat-error
                            *ngIf="contactForm.get('email').hasError('isEmailUnique')">
                            Cet email a été pris, veuillez en utiliser un autre.
                            </mat-error>
                    </mat-form-field>
                </div>
    

    
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field class="mr-24" fxFlex>
                        <mat-icon matPrefix class="mr-12 s-20 secondary-text">cake</mat-icon>
                        <input matInput formControlName="birthDate" [matDatepicker]="birthdayDatePicker" placeholder="Date De Naissance" required>
                        <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthdayDatePicker></mat-datepicker>
                        <mat-error *ngIf="contactForm.get('email').hasError('required')">
                                Date de Naissance est requis
                            </mat-error>
                    </mat-form-field>
                </div>
                
               


    
            </form>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        
                    <mat-label style="font-size: 15px;
                    font-weight: 500;
                    color: #757575;">Activé : </mat-label>
                        <app-switch size="small" name="skip_notification" (change)="!contactForm.controls['isActive'].value" [(ngModel)]="contactForm.controls['isActive'].value" style="    margin-left: 14%;
                        margin-top: -0.3%;"></app-switch>
                    </div>
        </div>
    
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    
            <!-- <button *ngIf="action !=='edit'"
                    mat-raised-button
                    (click)="_matDialogRef.close(contactForm)"
                    class="save-button mat-accent"
                    [disabled]="contactForm.invalid"
                    aria-label="SAVE">
                SAVE
            </button> -->
    
            <button *ngIf="action ==='edit'"
                    mat-raised-button
                    (click)="save()"
                    class="save-button mat-accent"
                    [disabled]="contactForm.invalid || isLoading"
                    aria-label="SAVE">
                Valider
            </button>
    
            <button *ngIf="action ==='edit'"
                    mat-icon-button
                    (click)="matDialogRef.close(['delete',contactForm])"
                    aria-label="Delete"
                    matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
    
        </div>
    </div>
    