
<div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
            <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                <div class="logo">
                    <img src="assets/images/logos/fuse.svg">
                </div>
    
                <div class="title">RESET YOUR PASSWORD</div>
    
                <form name="loginForm" [formGroup]="initPassword" fxLayout="column" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline" fxFlex="45">
                                <mat-label>Mot de passe</mat-label>  
                              <input matInput placeholder="Mot de passe" type="password" formControlName="password" required>
                                <mat-icon matSuffix>account_circle_outline</mat-icon>
                                <mat-error *ngIf="initPassword.get('password').hasError('required')">
                                    Mot de passe requis
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="45">
                                    <mat-label>Retapez mot de passe</mat-label>  
                                  <input matInput placeholder="retapez mot de passe" type="password" [errorStateMatcher]="matcher" formControlName="retypedPassword" required>
                                    <mat-icon matSuffix>account_circle_outline</mat-icon>
                                    <mat-error *ngIf="initPassword.hasError('notSame')">
                                             Mot de passe ne correspond pas
                                        </mat-error>  
                                </mat-form-field>
                 
    
                    
    
                  
                    <alert></alert>
                    <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                            [disabled]="initPassword.invalid || loading">
                        LOGIN
                    </button>
                   
                </form>
    
                
    
            </div>
    
        </div>
    
    </div>